body {
    font-family: 'Roboto', sans-serif;
}

.logo {
    color: rgba(239, 109, 88, 1);
    margin: 89px 0 0;
    text-decoration: none;
    letter-spacing: 3px;
}

.latest-work {
    --bg: rgba(40, 41, 62, 1);
    background: var(--bg);
    padding: 80px 0;
}

.container {
    margin: 100px;
    max-width: 1400px;
}

.container-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-card-list {
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

.container-card {
    display: flex;
    flex-direction: column;
}

.text {
    --fs: 24px;
    --fw: 500;
    --lh: 1.5;
    --c: rgba(255, 255, 255, 1);
    font-size: var(--fs);
    font-weight: var(--fw);
    line-height: var(--lh);
    color: var(--c);
}

.text-lg {
    --fs: 56px;
    --lh: 0.8;
    letter-spacing: -1px;
    text-align: left;
}

.text-bg {
    --fs: 40px;
    --lh: 1.5;
}

.text-sm {
    --fs: 14px;
    --lh: 1;
}

.txt-fw-lg {
    --fw: 900;
}

.txt-fw-bg {
    --fw: 700;
}

.txt-fw-sm {
    --fw: 400;
}

.button {
    --bg: #1C1C25;
    --w: 170px;
    --h: 48px;
    --bd-color: rgba(255, 255, 255, 0.30);
    --bd-size: 1px;

    align-items: center;
    background: var(--bg);
    border-radius: 6px;
    border: var(--bd-size) solid var(--bd-color);
    display: inline-flex;
    justify-content: center;
    min-width: var(--w);
    min-height: var(--h);
    padding: 0;
    text-decoration: none;
    transition: 0.3s;
}

.image {
    max-width: 448px;
    width: 100%;
}